h2{
    color: aqua;
    font-size: 20px;
}
.highlight{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}
#title{
    color: red;
}
.ineru #title{
    color: green;
}
.ineru h1#title{
    color: yellow;
    background-color: red;
}
.button-keren{
    color: white;
    background-color: rgb(93, 11, 109);
    padding: 10px 20px; 
    margin: 10px;
    border: 6px solid black;   
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    width: fit-content;
    border-radius: 20px;
    margin: 0 auto;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.inline-block{
    display: inline-block;
    width: 200px;
    height: 20px;
    background-color: aqua;
}
.text-fixed {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 41px;
}
.layar{
    height: 100vh;

}
